body {
  background-color: #ffedc9;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

/* ここからアイコンと名前 */
header > div {
  width: 100%;
  height: 103px;
  background-color: #664735;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div img {
  width: 110px;
}

main > .profile p {
  width: 100%;
  font-size: 18px;
  font-family: "A P-OTF Shin Maru Go Pr6N", sans-serif;
  text-align: center;
  margin-top: 150px;
}

/* 登録情報と送り先住所設定を包括している範囲 */
main .informaition {
  width: 100%;
  height: 160px;
  /* border: tomato 4px solid; */
  /* border: solid 1px#cbcbcb; */
}

/* 登録情報 */
.user {
  height: 50px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.user p {
  font-family: "A P-OTF Shin Maru Go Pr6N";
  font-size: 1.5em;
  /* padding: 30px; */
}

.user > a {
  display: flex;
  justify-content: space-around;
  gap: 180px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

/* 送り先住所設定 */
.address {
  height: 50px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.address p {
  font-family: "A P-OTF Shin Maru Go Pr6N";
  font-size: 1.5em;
}

.address > a {
  display: flex;
  justify-content: space-around;
  gap: 130px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

/* ここから利用規約など */
.terms {
  height: 50px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
  border-bottom: #a9a3a3 1px solid;
}

.terms > a {
  display: flex;
  justify-content: space-around;
  gap: 180px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.terms p {
  font-family: "A P-OTF Shin Maru Go Pr6N";
  font-size: 1.5em;
  /* padding: 30px; */
}

.private {
  height: 50px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  border-bottom: #a9a3a3 1px solid;
  /* margin-top: 20px; */
}

.private > a {
  display: flex;
  justify-content: space-around;
  gap: 150px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.private p {
  font-family: "A P-OTF Shin Maru Go Pr6N";
  font-size: 1.5em;
  /* padding: 30px; */
}

.help {
  height: 50px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
}

.help > a {
  display: flex;
  justify-content: space-around;
  gap: 190px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.help p {
  font-family: "A P-OTF Shin Maru Go Pr6N";
  font-size: 1.5em;
  /* padding: 30px; */
}

.puestion {
  position: absolute;
  margin-right: 200px;
  margin-top: 7px;
}

/* ここからフッター */
footer {
  width: 150vw;
  height: 225px;
  /* border: tomato 1px solid; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
}

footer > .circle-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-66%);
  width: 100%;
  height: 90px;
  background-color: #664735;
  border-radius: 50% 50% 0 0;
}

footer > nav {
  z-index: 10;
}

footer > nav > .footer-content {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: visible;
}

footer > nav > .footer-content {
  font-size: 16px;
  list-style: none;
}

footer > nav > .footer-content > li {
  flex: 1;
}

footer > nav > .footer-content > li img {
  width: 28px;
}

footer > nav > .footer-content > li a {
  display: block;
  text-decoration: none;
  color: #ffedc9;
  font-size: 12px;
  text-align: center;
}

footer > nav > .footer-content > li:nth-of-type(3) {
  border: 1px solid #ffedc9;
  background-color: #664735;
  border-radius: 9999px;
}

footer > nav > .footer-content > li:nth-of-type(3) a {
  margin: 20px 32px;
}

footer > nav > .footer-content > li:nth-of-type(3) img {
  width: 48px;
}
